<ion-content>
  <div class=" content">
    <div class="ion-text-center image">
      <img src="./../../../../assets/icon/login-modal.svg">
    </div>

    <div class="ion-text-center title ">
      <p class="ion-no-margin fn-21 qesaa-Janna-Bold"> {{'please login'|translate}} </p>
    </div>

    <div class="ion-text-center modal-btn" >
      <ion-button (click)="goLogin()" shape="round" expand="block" color="primary">
        <p class="ion-no-margin fn-20 qesaa-Janna-Bold white-color">
          {{"signin"|translate}}
        </p>
      </ion-button>
    </div>
  </div>
</ion-content>