<ion-content class="form-container">
  <div class="auth-image">
    <img src="./../../../../assets/images/auth-left.svg" />
  </div>

  <div class="title ion-padding-horizontal ion-margin-horizontal">
    <p class="ion-no-margin fn-24 qesaa-Janna-Bold">
      {{"restore password"|translate}}
    </p>
  </div>

  <div class="notice ion-padding-horizontal ion-margin-horizontal">
    <p class="ion-no-margin fn-15 qesaa-Janna-Regular gray-color">
      {{"enter new password"|translate}}
    </p>
  </div>

  <form
    (ngSubmit)="changePassword()"
    [formGroup]="changePasswordForm"
    class="ion-margin-bottom ion-margin-horizontal ion-padding-horizontal"
  >
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-icon
        class="custom-form-icon custom-sized-icon"
        [ngClass]="currentLanguage=='ar'?'icon-ar':'icon-en'"
        item-start
        color="white"
        name="checkmark-sharp"
      >
      </ion-icon>
      <ion-input
        class="fn-16 qesaa-Janna-Regular"
        placeholder="{{'code-verification'|translate}}"
        type="tel"
        formControlName="code"
      ></ion-input>
    </ion-item>


    <div
      class="error-box fn-12"
      *ngIf=" ischangePasswordSubmitted  && changePasswordErrorControl.code.errors?.required"
    >
      {{'please enter code verification' | translate}}
    </div>

    <div
      class="error-box fn-12"
      *ngIf="ischangePasswordSubmitted  && changePasswordErrorControl.code.errors?.minlength"
    >
      {{'code verification should be 4 numbers' | translate}}
    </div>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-icon
        class="custom-form-icon"
        [ngClass]="currentLanguage=='ar'?'icon-ar':'icon-en'"
        item-start
        color="primary"
        src="./../../../../assets/icon/forms/password.svg"
      >
      </ion-icon>
      <ion-input
        class="fn-16 qesaa-Janna-Regular"
        placeholder="{{'password'|translate}}"
        [type]="inputChangeType"
        formControlName="password"
      ></ion-input>
      <ion-icon
        (click)="showChangePassword()"
        item-end
        color="gray"
        [name]="iconChangeName"
      ></ion-icon>
    </ion-item>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-icon
        class="custom-form-icon"
        [ngClass]="currentLanguage=='ar'?'icon-ar':'icon-en'"
        item-start
        color="primary"
        src="./../../../../assets/icon/forms/password.svg"
      >
      </ion-icon>
      <ion-input
        class="fn-16 qesaa-Janna-Regular"
        placeholder="{{'password'|translate}}"
        [type]="inputChangeConfirmType"
        formControlName="confirmPassword"
      ></ion-input>
      <ion-icon
        (click)="showChangeConfirmPassword()"
        item-end
        color="gray"
        [name]="iconChangeConfirmName"
      ></ion-icon>
    </ion-item>

    <ion-button class="form-btn" expand="block" type="submit" color="primary">
      <span class="fn-20 qesaa-Janna-Bold"> {{ "confirm"|translate}} </span>
    </ion-button>
  </form>
</ion-content>
