ion-content {
    &::part(background) {
      background-color: var(--ion-color-white) !important;
    }
  
    .custom-sized-icon{
     font-size: 20px;
    }
    .auth-image {
      margin-bottom: 4.2px;
      img {
        width: 100%;
      }
    }
  
    .title {
      margin-bottom: 15px;
    }


    .notice{
        margin-bottom: 24px;
    }
  
    .other-content {
      .forget-text {
        margin-bottom: 24px;
      }
  
      .language-contact{
          margin-top: 57px;
      }
    }

    .contact{
      margin-top: 24px;
    }
  }
  