// ion-content {
//   display: flex;
//   align-items: flex-start;
//   text-align: center;
//   justify-content: center;
  .map-container {
    height: 100%;
    border-radius: 20px;

    --background: transparent !important;
  }

//   .btn {
//     width: 50%;

//     margin: 20px auto;
//     &::part(native) {
//       height: 50px;
//     }
//   }
// }
