<app-header [haveBeforeHeader]="false" [hasMarketCart]="false" [title]="'contact with admn'" [isHome]="false">
</app-header>

<ion-content class="ion-padding-horizontal">

  <div class="ion-text-center ion-margin-bottom">
    <img src="./../../../assets/images/message.svg">
  </div>

  <div class="margin-18-bottom ion-text-center">
    <p class="ion-no-margin fn-20 qesaa-Janna-Regular primary-color">
      {{'contact-notice'|translate}}
    </p>
  </div>

  <form (ngSubmit)="contactWithAdmin()" [formGroup]="contactWithAdminForm"
    class="form-container ion-padding-horizontal ion-margin-bottom">
    <ion-item lines="none" class="ion-margin-bottom">
      <!-- <ion-icon class="custom-form-icon" [ngClass]="currentLanguage=='ar'?'icon-ar':'icon-en'" item-start color="primary"
            src="./../../../../assets/icon/forms/person.svg"></ion-icon> -->
      <ion-input class="fn-16 qesaa-Janna-Regular" placeholder="{{'user-name'|translate}}" type="text"
        formControlName="userName"
        (ionFocus)="inputHaveFocused(true)"
        (ionBlur)="inputHaveFocused(false)"
        ></ion-input>
    </ion-item>

    <ion-item lines="none" class="ion-margin-bottom">
      <!-- <ion-icon class="custom-form-icon" [ngClass]="currentLanguage=='ar'?'icon-ar':'icon-en'" item-start color="primary"
            src="./../../../../assets/icon/forms/phone.svg"></ion-icon> -->
      <ion-input class="fn-16 qesaa-Janna-Regular" placeholder="{{'phone number'|translate}}" type="tel"
        formControlName="phoneNumber"
        (ionFocus)="inputHaveFocused(true)"
        (ionBlur)="inputHaveFocused(false)"
        ></ion-input>
    </ion-item>

    <ion-item lines="none" class="ion-margin-bottom">
      <!-- <ion-icon class="custom-form-icon" [ngClass]="currentLanguage=='ar'?'icon-ar':'icon-en'" item-start color="primary"
            src="./../../../../assets/icon/forms/email.svg"></ion-icon> -->
      <ion-input class="fn-16 qesaa-Janna-Regular" placeholder="{{'email-address'|translate}}" type="email"
        formControlName="messageTitle"
        
        (ionFocus)="inputHaveFocused(true)"
        (ionBlur)="inputHaveFocused(false)"
        ></ion-input>
    </ion-item>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-textarea autoGrow='true' class="ion-padding-horizontal fn-16 qesaa-Janna-Regular"
        placeholder="{{'your message'|translate}}" type="text" formControlName="message"
        (ionFocus)="inputHaveFocused(true)"
        (ionBlur)="inputHaveFocused(false)"
        ></ion-textarea>
    </ion-item>

    <ion-button class="margin-8-top ion-margin-bottom" expand="block" type="submit" color="primary">
      <span class=" fn-20 qesaa-Janna-Bold"> {{ "send"|translate}} </span>
    </ion-button>


    <div class="margin-8-top ion-text-center ion-margin-bottom ">
      <p class="fn-16 qesaa-Janna-Bold ion-no-margin ">
        {{'or'|translate}}
      </p>
    </div>

    <div class="whatsapp-contact" (click)="openWhatsapp()">
      <div>
        <ion-icon src="./../../../../assets/icon/account/whatsapp.svg"></ion-icon>

      </div>
      <div class="text">
        <p class="fn-16 qesaa-Janna-Bold ion-no-margin ">
          {{'contact with whatsapp'|translate}}
        </p>
      </div>
    </div>


  </form>

</ion-content>