<app-header
  [haveBeforeHeader]="false"
  [title]="'our-services'"
  [isHome]="false"
  [hasMarketCart]="false"
></app-header>

<ion-content class="ion-padding-horizontal">
  <!-- <div class="services-container">
    <div
      class="service-wrapper ion-margin-bottom"
      *ngFor="let service of services"
      routerLink="/tabs/our-services/details/{{service.id}}"
    >
      <div class="service ion-padding ion-text-center">
        <div class="icon">
          <img [src]="service?.image" />
        </div>

        <div class="ion-text-center">
          <p class="ion-no-margin fn-14 qesaa-Janna-Bold">{{service?.title}}</p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <ion-row>
    <ion-col   *ngFor="let service of services"  
    size-xs="4"
    size-sm="4"
    size-md="3"
    size-lg="3"
    size-xl="3">
      <div
      class="service-wrapper ion-margin-bottom"
     
      routerLink="/tabs/our-services/details/{{service.id}}"
    >
      <div class="service ion-padding ion-text-center">
        <div class="icon">
          <img [src]="service?.image" />
        </div>

        <div class="ion-text-center">
          <p class="ion-no-margin fn-14 qesaa-Janna-Bold">{{service?.title}}</p>
        </div>
      </div>
    </div>
    </ion-col>
  </ion-row> -->

  <div
  *ngFor="let service of services"  
   class="ion-margin-bottom news-container"
   routerLink="/tabs/our-services/details/{{service.id}}"
 >
   <div class="icon" [ngClass]="currentLanguage=='ar'?'icon-ar':'icon-en'">
     <ion-avatar slot="start">

     <img [src]="service?.image" />
     </ion-avatar>
   </div>
   <div class="details">
     <p class="title ion-no-margin secondary-color fn-18 qesaa-Janna-Bold">
       {{service?.title}}
     </p>
     <p class="description ion-no-margin fn-12 qesaa-Janna-Regular" *ngIf="service?.desc">{{service?.desc}}</p>
     <p class="date ion-no-margin primary-color fn-12 qesaa-Janna-Regular" *ngIf="service?.date">
       {{service?.date}}
     </p>
   </div>
 </div>
</ion-content>
