.slider-section {
  position: relative;
  .custom-swiper {
    .swiper-wrapper {
      padding-bottom: 35px !important;
    }
  }

  .slide-item-container {
    position: relative;
    text-align: center;
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    top: auto !important;
    text-align: center;

    .swiper-pagination-bullet {
      background: var(--ion-color-secondary) !important;
      top: 70% !important;
      right: 50% !important;
      height: 4px !important;
      width: 6px !important;
      border-radius: 10px;
      opacity: 1 !important;
      margin: 0 2px;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--ion-color-primary) !important;
      top: 70% !important;
      right: 50% !important;
      height: 4px !important;
      width: 12px !important;
      border-radius: 10px;
      opacity: 1 !important;
      margin: 0 2px;
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      background-color: rgba(var(--ion-color-primary-rgb), 0.5) !important;
      height: 10px;
      width: 15px;
      border-radius: 10px;
      right: 50%;
    }
  }

  img {
    border-radius: 10px;
    height: 150px;
    width: 100%;
    object-fit: cover;
    //filter: brightness(0.66);
  }
}

.map-location {
  .map-container {
    background: none !important;
    height: 167px;
    margin-top: 10px;
    border-radius: 20px !important;

    //background: none !important;
  }
}

.request-time-date {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  display: grid;
  /* flex-direction: row; */
  justify-content: space-between;
  grid-template-columns: 10fr 1fr 10fr;
  justify-items: center;
  align-items: center;
  div {
    width: 100%;
  }

  .request-time {
    margin-bottom: 6px;
    .custom-form-icon-time {
      font-size: 10px;
    }
  }

  ion-text[slot="end"] {
    margin-inline-start: 0px !important;
  }
}

.request-date {
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--ion-color-secondary);
    border-radius: 20px !important;
    height: 117px;
    margin-top: 6px;
    img {
      height: 115px;
      width: 100%;
      border-radius: 20px;
    }

    ion-icon {
      font-size: 20px;
    }
  }
}
// ion-content {--background	:none}
.ionic-selectable-value-item {
  color: red;
}
ionic-selectable.ionic-selectable-inner.ionic-selectable-value.ionic-selectable-value-item {
  color: red;
}
