.map-location {
  .map-container {
    background: none !important;
    height: 167px;
    margin-top: 10px;
    border-radius: 20px !important;

    //background: none !important;
  }
}

.request-time-date {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  display: grid;
  /* flex-direction: row; */
  justify-content: space-between;
  grid-template-columns: 10fr 1fr 10fr;
  justify-items: center;
  align-items: center;
  div {
    width: 100%;
  }

  .request-time {
    margin-bottom: 6px;
    .custom-form-icon-time {
      font-size: 10px;
    }
  }

  ion-text[slot="end"] {
    margin-inline-start: 0px !important;
  }
}

.request-date {
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--ion-color-secondary);
    border-radius: 20px !important;
    height: 117px;
    margin-top: 6px;
    img {
      height: 115px;
      width: 100%;
      border-radius: 20px;
    }

    ion-icon {
      font-size: 20px;
    }
  }
}
// ion-content {--background	:none}
.ionic-selectable-value-item {
  color: red;
}
ionic-selectable.ionic-selectable-inner.ionic-selectable-value.ionic-selectable-value-item {
  color: red;
}
