<ion-content class="form-container">
  <div class="auth-image">
    <img src="./../../../../assets/images/auth-right.svg" />
  </div>

  <div class="title ion-padding-horizontal ion-margin-horizontal">
    <p class="ion-no-margin fn-24 qesaa-Janna-Bold">
      {{"forget-password"|translate}}
    </p>
  </div>

  <div class="notice ion-padding-horizontal ion-margin-horizontal">
    <p class="ion-no-margin fn-15 qesaa-Janna-Regular gray-color">
      {{"forget-password-notice"|translate}}
    </p>
  </div>

  <form
    (ngSubmit)="forgetPassword()"
    [formGroup]="forgetForm"
    class="ion-margin-bottom ion-margin-horizontal ion-padding-horizontal"
  >
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-icon
        class="custom-form-icon"
        item-start
        color="primary"
        src="./../../../../assets/icon/forms/phone.svg"
      >
      </ion-icon>
      <ion-intl-tel-input
        [dir]="currentLanguage == 'ar' ? 'ltr' : 'rtl'"
        item-end
        formControlName="phoneNumber"
        defaultCountryiso="sa"
        [preferredCountries]="preferredCountries"
      >
      </ion-intl-tel-input>
    </ion-item>

    <div class="error-box fn-12" *ngIf="isForgetPasswordSubmitted ">
      <ion-text
        color="danger"
        *ngIf="forgetPasswordErrorControl.phoneNumber.errors?.required"
      >
        <p class="fn-16 qesaa-Janna-Regular">
          <sub> {{'please enter phone number' | translate}}</sub>
        </p>
      </ion-text>
    </div>

    <!-- <div
      class="error-box fn-12"
      *ngIf=" isForgetPasswordSubmitted  && forgetPasswordErrorControl.phoneNumber.errors?.required"
    >
    {{'please enter phone number' | translate}}
    </div> -->

    <ion-button class="form-btn" expand="block" type="submit" color="primary">
      <span class="fn-20 qesaa-Janna-Bold"> {{ "send"|translate}} </span>
    </ion-button>
  </form>

  <div
    routerLink="/tabs/contact-with-us"
    class="ion-text-center contact ion-padding-horizontal ion-margin-horizontal"
  >
    <p class="ion-no-margin fn-25 qesaa-Janna-Bold">
      {{"contact us"|translate}}
    </p>
  </div>
</ion-content>
