<app-header
  [haveBeforeHeader]="false"
  [title]="aboutDataResponse?.title"
  [isHome]="false"
  [hasMarketCart]="false"
></app-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="./../assets/icon/app-logo.svg" style="    width: 176px;
    height: 180px;
    object-fit: cover;
    object-position: top;" />

    <div class="ion-text-center about-container">
      <p class="ion-no-margin fn-18 qesaa-Janna-Regular">
        {{aboutDataResponse?.desc}}
      </p>
    </div>
  </div>
</ion-content>
