<app-header
  [haveBeforeHeader]="false"
  [title]="'our-projects'"
  [isHome]="false"
  [hasMarketCart]="false"
></app-header>

<ion-content class="ion-padding-horizontal">
  <!-- <ion-row>
    <ion-col
      routerLink="/tabs/our-projects/details/{{project.id}}"
      size="6"
      *ngFor="let project of projects"
    >
      <div class="project-container ion-text-center">
        <img class="project-image" [src]="project.image" />
        <p class="ion-no-margin fn-20 qesaa-Janna-Bold">{{project.title}}</p>
      </div>
    </ion-col>
  </ion-row> -->

  <div
    *ngFor="let project of projects"
    class="ion-margin-bottom news-container"
    routerLink="/tabs/our-projects/details/{{project.id}}"
  >
    <div class="icon" [ngClass]="currentLanguage=='ar'?'icon-ar':'icon-en'">
      <ion-avatar slot="start">
        <img [src]="project?.image" />
      </ion-avatar>
    </div>
    <div class="details">
      <p class="title ion-no-margin secondary-color fn-18 qesaa-Janna-Bold">
        {{project?.title}}
      </p>
      <p class="description ion-no-margin fn-12 qesaa-Janna-Regular" *ngIf="project?.desc">
        {{project?.desc}}
      </p>
      <p class="date ion-no-margin primary-color fn-12 qesaa-Janna-Regular" *ngIf="project?.date">
        {{project?.date}}
      </p>
      <p class="title ion-no-margin  fn-12 qesaa-Janna-Bold">
        {{"away from you"|translate}}   :  {{project?.distance}} {{"km"|translate}}
      </p>
    </div>
  </div>
</ion-content>
